/*
* === Variables ===
*/

/*
* — Colors —
*/
$lightOrange: #df7e47;
$mediumOrange: #9f4817;
$darkOrange: #712e08;

$warmWhite: #fffdf9;
$yellowBackgroundColor: #fbf1cf;


/*
* === General Styles ===
*/
body {
    background: $yellowBackgroundColor url("../img/BG.jpg") no-repeat center top;
}
.textColorMediumOrange {
    color: $mediumOrange;
}

::-webkit-input-placeholder {
   color: $darkOrange;
}
:-moz-placeholder { /* Firefox 18- */
   color: $darkOrange;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $darkOrange;
}
:-ms-input-placeholder {
   color: $darkOrange;
}

/*
* === Header ===
*/

/*
* — Above Navbar —
*/
//Add spacing at the top of the website above the logo
.container {
    margin-top: 2.5em;
}
.aboveHeader {
    margin-bottom: 10px;
}

/*
* === Body ===
*/

/*
* — Slider —
*/
#inJumbotronSlider {
    padding-left: 0;
    padding-right: 0;
}
.readMoreButton {
    background-color: $mediumOrange;
    color: white;
    font-size: 18px;
    padding: 10px;
}
/*
* — Footer —
*/
.footer {
    clear: both;
    position: relative;
    bottom: 0;
    margin-top: 15px;
    width: 100%;
    height: 50px;
    background-color: $lightOrange;
    color: $darkOrange;
    padding: 1em;
    border-radius: $generalBorderRadius $generalBorderRadius 0 0;
}
